@model  IEnumerable<Database.DomainModel.Product>
@{
    ViewBag.Title = "CategoryProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<h2>@ViewBag.categoryName</h2>

<hr />

<div class="row">
    <div id="categories" class="bg-dark" style="color: white; width: 220px; padding-left: 10px;">
        <br />
        <p><i class="fas fa-book-open"></i>  Kategorije:</p>
        <hr />
        <ul id="myUL">
            <li>
                <span class="caret">Mobilni uređaji</span>
                <ul class="nested">
                    <li><i class="fas fa-circle fa-xs"></i> <a href="@Url.Action("CategoryProducts", "Product", new { category = "Laptopovi i tableti" })" style="text-decoration: none; color: white;"> Laptopovi i tableti</a></li>
                    <li><i class="fas fa-circle fa-xs"></i> Mobilni telefoni</li>
                </ul>
            </li>
            <hr />
            <li>
                <span class="caret">Računari</span>
                <ul class="nested">
                    <li><i class="fas fa-circle fa-xs"></i><a href="@Url.Action("CategoryProducts", "Product", new { category = "Gotove konfiguracije" })" style="text-decoration: none; color: white;"> Gotove konfiguracije</a></li>
                    <li><i class="fas fa-circle fa-xs"></i><a href="@Url.Action("CategoryProducts", "Product", new { category = "Racunarske komponente" })" style="text-decoration: none; color: white;"> Računarske komponente</a></li>
                </ul>
            </li>
            <hr />
            <li>
                <span class="caret">Tv, audio, foto, video</span>
                <ul class="nested">
                    <li><i class="fas fa-circle fa-xs"></i><a href="@Url.Action("CategoryProducts", "Product", new { category = "TV i audio" })" style="text-decoration: none; color: white;"> Tv i audio</a></li>
                    <li><i class="fas fa-circle fa-xs"></i><a href="@Url.Action("CategoryProducts", "Product", new { category = "Foto i video" })" style="text-decoration: none; color: white;"> Foto i video</a></li>
                </ul>
            </li>
            <hr />
            <li>
                <span class="caret">Monitori, periferije, konzole</span>
                <ul class="nested">
                    <li><i class="fas fa-circle fa-xs"></i><a href="@Url.Action("CategoryProducts", "Product", new { category = "Monitori i periferije" })" style="text-decoration: none; color: white;"> Monitori i periferije</a></li>
                    <li><i class="fas fa-circle fa-xs"></i> <a href="@Url.Action("CategoryProducts", "Product", new { category = "Stampaci" })" style="text-decoration: none; color: white;"> Štampači</a></li>
                    <li><i class="fas fa-circle fa-xs"></i><a href="@Url.Action("CategoryProducts", "Product", new { category = "Konzole" })" style="text-decoration: none; color: white;"> Konzole</a></li>
                    <li><i class="fas fa-circle fa-xs"></i> <a href="@Url.Action("CategoryProducts", "Product", new { category = "Memorije" })" style="text-decoration: none; color: white;"> Memorije</a></li>
                </ul>
            </li>
            <hr />
            <li>
                <span class="caret"><a href="@Url.Action("CategoryProducts", "Product", new { category = "Mrezna oprema" })" style="text-decoration: none; color: white;"> Mrežna oprema</a></span>
                <ul class="nested"></ul>
            </li>
            <hr />
            <li>
                <span class="caret"><a href="@Url.Action("CategoryProducts", "Product", new { category = "Bela tehnika" })" style="text-decoration: none; color: white;"> Bela tehnika</a></span>
                <ul class="nested"></ul>
            </li>
        </ul>
    </div>

    @if (Model.Count() != 0)
    {
        foreach (Database.DomainModel.Product product in Model)
        {
            <div class="card" style="width: 18rem; margin-left: 8px;">
                <img class="card-img-top" src="~/Resources/@product.Picture" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <hr />
                    <p class="card-text" style="font: bold; color: red;">Cena: @product.Price</p>
                    <hr />
                    <a href="../Product/ProductDetails/@product.Id" class="btn btn-dark" style="margin-left: 45px;">Pogledaj proizvod</a>
                </div>
            </div>
        }
    }
    else
    {
        <p style="margin: auto;">Trenutno nemamo proizvode u ovoj kategoriji :(</p>
    }
</div>

@section scripts {
    @Scripts.Render("~/Scripts/My scripts/HomePageScript.js")
}
